			#loge{
				width: 50px;
				height: 45px;
			}
			#top{
				padding-left: 60px;
				height: 70px;
				background-color: #011536;
			}
			#tp{
				height: 450px;
			}
			body { 
				padding-top: 100px; 
				background-color: #f6f6f8;
				}
			#lg-inputphone{
				width: 335px;
			}
			#lg-inputcode{
				width: 228px;
			}
			#lg-get{
				width: 93px;
			}
			.sub-all-lg{
				width: 160px;
				letter-spacing: 5px;
			}
			.input-pudding{
				padding-top: 10px;
			}
			.sub-padding{
				padding-top: 30px;
			}
			.sub{
				width: 475px;
				font-size:20px ;
				letter-spacing: 15px;
			}
			.subsm{
				width: 355px;
				letter-spacing: 15px;
			}
			#input-all-code-sm{
				width: 120px;
			}
			#h1-text{
				font-size: 18px;
				color: #C0C0C0;
				font-family: '宋体';
			}
			#row-body{
				padding-bottom: 40px;
			}
			.logintypebtn{
				width: 160px;
				letter-spacing: 4px;
			}
			.navbar-brand
			{
				padding-top: 13px;
				padding-left: 160px;
			}
			.navbar-text
			{
				padding-top:5px;
				font-size: 25px;
				letter-spacing: 3px;
				
			}
			.navbar-text strong
			{
				color: white;
			}