<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CYObject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ClassServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.employment.classset.ClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassServlet</servlet-name>
    <url-pattern>/classs/set.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.management.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/management/authority.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.studentinfo.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/student/info.do</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>GradeWorkServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.employment.gradeworkinfo.GradeWorkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeWorkServlet</servlet-name>
    <url-pattern>/gradework/work.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.employment.grade.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/grade/grade.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>PostoverwarnServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postwaring.postoverwaring.PostoverwarnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostoverwarnServlet</servlet-name>
    <url-pattern>/waring/over.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PostfillwarnServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postwaring.postfillwaring.PostfillwarnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostfillwarnServlet</servlet-name>
    <url-pattern>/waring/fill.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>StuwaringServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postwaring.stuwaring.StuwaringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuwaringServlet</servlet-name>
    <url-pattern>/waring/stu.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PostinfoServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postinfo.PostinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostinfoServlet</servlet-name>
    <url-pattern>/postinfo/postin.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LogeinServlet</servlet-name>
  	<servlet-class>com.rj.bd.logein.LogeinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogeinServlet</servlet-name>
  	<url-pattern>/users/logein.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>com.rj.bd.index.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/users/index.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SecurityServlet</servlet-name>
    <servlet-class>com.rj.bd.security.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityServlet</servlet-name>
    <url-pattern>/users/security.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ResumeServlet</servlet-name>
    <servlet-class>com.rj.bd.resume.ResumeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeServlet</servlet-name>
    <url-pattern>/users/resume.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PerfectServlet</servlet-name>
    <servlet-class>com.rj.bd.perfect.PerfectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PerfectServlet</servlet-name>
    <url-pattern>/users/perfect.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>NoPasswordServlet</servlet-name>
  	<servlet-class>com.rj.bd.logein.nopassword.NoPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoPasswordServlet</servlet-name>
  	<url-pattern>/users/nopassword.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>com.rj.bd.filters.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>Sessionfiters</filter-name>
  	<filter-class>com.rj.bd.filters.Sessionfiters</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Sessionfiters</filter-name>
  	<url-pattern>/logein/*</url-pattern>
  </filter-mapping>
  
  
</web-app>