<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CYObject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>StuwaringServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postwaring.stuwaring.StuwaringServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuwaringServlet</servlet-name>
    <url-pattern>/waring/stu.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>PostinfoServlet</servlet-name>
    <servlet-class>com.rj.bd.managerall.postinfo.PostinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostinfoServlet</servlet-name>
    <url-pattern>/postinfo/postin.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LogeinServlet</servlet-name>
  	<servlet-class>com.rj.bd.logein.LogeinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogeinServlet</servlet-name>
  	<url-pattern>/users/logein.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>IndexServlet</servlet-name>
  	<servlet-class>com.rj.bd.index.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexServlet</servlet-name>
  	<url-pattern>/users/index.do</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>NoPasswordServlet</servlet-name>
  	<servlet-class>com.rj.bd.logein.nopassword.NoPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoPasswordServlet</servlet-name>
  	<url-pattern>/users/nopassword.do</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>com.rj.bd.filters.CharacterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>Sessionfiters</filter-name>
  	<filter-class>com.rj.bd.filters.Sessionfiters</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Sessionfiters</filter-name>
  	<url-pattern>/logein/*</url-pattern>
  </filter-mapping>
  
  
</web-app>